.list-item{
    width: 270;
    margin: 10px;
    background-color: white;
    min-height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
}
.list-item>h3{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.list-item-header{
    display: flex;
}
.button-item{
    margin-top: 5px !important;
    margin-left: 5px !important;
    height: 10px !important;
    width: 10px !important;
    font-size: 10px !important;
}
.button-item-2{
    margin-top: 5px !important;
    margin-left: 220px !important;
    height: 10px !important;
    width: 10px !important;
    font-size: 10px !important;
}